[submodule "mobile-first.wiki"]
	path = mobile-first.wiki
	url = git@github.com:yarko/mobile-first.wiki.git
[submodule "olfactory-test-app"]
	path = olfactory-test-app
	url = git@github.com:yarko/olfactory-test-app.git
