[submodule "mobile-first.wiki"]
	path = mobile-first.wiki
	url = git@github.com:yarko/mobile-first.wiki.git
[submodule "olfactory-test-app"]
	path = snifn
	url = git@github.com:yarko/olfactory-test-app.git
[submodule "examples/paper-elements"]
	path = examples/paper-elements
	url = https://github.com/dart-lang/paper-elements
[submodule "examples/angular.dart.ui"]
	path = examples/angular.dart.ui
	url = https://github.com/akserg/angular.dart.ui.git
[submodule "examples/angular.dart.tutorial"]
	path = examples/angular.dart.tutorial
	url = git@github.com:angular/angular.dart.tutorial.git
[submodule "examples/todomvc"]
	path = examples/todomvc
	url = https://github.com/tastejs/todomvc.git
